<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713194151849-irdib2s97fvjimkuplt52je8mccgh09j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713194151849-irdib2s97fvjimkuplt52je8mccgh09j</string>
	<key>API_KEY</key>
	<string>AIzaSyDdhhZLP4I-nT_5KUH9yOwTnB8sCTGYyMU</string>
	<key>GCM_SENDER_ID</key>
	<string>713194151849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp1-4adeb</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp1-4adeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713194151849:ios:234e8a64a7d5eeb0feeeb8</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp1-4adeb.firebaseio.com</string>
</dict>
</plist>